<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog List with Search</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .blog-list {
            margin-top: 20px;
        }
        .blog-item {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-4" >Objets Perdus</h1>
    <div class="row">
        <div class="col-md-9">
            <input class="form-control" id="searchInput" type="text" placeholder="Rechercher...">
        </div>
        <div class="col-md-3">
            <a href="/objetperdus/new" class="btn btn-primary">Déclarer un objet perdu</a>
        </div>
    </div>
    <div class="row blog-list mt-4" id="blogList">
        <div th:each="objetperdu : ${objetperdus}" class="col-md-4 blog-item">
            <div class="card">
                <div class="card-body">
                    <h5 th:text="${objetperdu.libelle}" class="card-title">Article 1</h5>
                    <p th:text="${#strings.abbreviate(objetperdu.descriptionObjet, 100)}" class="card-text">This is a short description of the first blog article.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#blogList .blog-item").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>
